@{
    ViewData["Title"] = "Home";
}

<header>
    <div class="text-center">
        <h1 class="display-4">Daily Affirmations</h1>
        <p>
            <a asp-controller="Affirmations" asp-action="Add" class="btn btn-primary">Add Affirmations</a>
        </p>
    </div>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background-image: url('https://example.com/image.jpg'); background-size: cover;">
                <h2 class="display-4 text-white font-weight-bold">Your Wish Is Your Command</h2>
                <p class="lead text-white font-weight-bold">Affirm It</p>
                <p>
                    <a href="#" class="btn btn-primary btn-lg">Affirm It</a>
                </p>
            </div>
        </div>
    </div>
</main>

