@model iWishApp.ViewModels.AddAffirmationsViewModel;

<h1>Add Affirmation</h1>
<hr />

<form method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Category">Category:</label>
        <input type="text" class="form-control" id="Category" name="Category" value="@Model.Category" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Text">Text:</label>
        <input type="text" class="form-control" id="Text" name="Text" value="@Model.Text" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Affirmation</button>
</form>
