@model iWishApp.ViewModels.AddAffirmationsViewModel;


    <!DOCTYPE html>
    <html>
    <head>

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-md fixed-top navbar-dark" style="color:white;">
                <a class="navbar-brand" href="#">iWish..</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Affirmations" asp-action="Add">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Affirmations" asp-action="Delete">Delete</a>
                        </li>
                    </ul>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>


        
        <div class="container-fluid p-0">
            <!-- Video background -->
            <video src="/images/rainForest.mp4" autoplay loop muted playsinline style="position:fixed; top: 0; left: 0; width: 100%; height:100%; object-fit: cover;"></video>

            <div class="position-absolute top-50 start-50 translate-middle">

                <h1 style="padding-top:15rem; color:white; padding-bottom:0rem;">Add Affirmation</h1>
                <hr />
                <form method="post">
                
                    <div class="form-group">
                        <label for="Text">I AM</label>
                        <input type="text" class="form-control" id="Text" name="Text" value="@Model.Text" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Make a Wish!</button>
                </form>
                </div>
                </div>

    </body>
</html>