@using System;
@using iWishApp.ViewModels;
@using iWishApp.Models;
@using iWishApp.Data;
@using iWishApp;









<h1>Delete Affirmations</h1>

<form method="post">
    @foreach (var affirmation in ViewBag.affirmations)
    {
        <div class="form-group">
            <label>
                <span>@affirmation.Text</span>
                <input type="checkbox" name="affirmationIds" value="@affirmation.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete" class="btn btn-danger">




<div class="text-center mt-4">
    <a asp-controller="Affirmations" asp-action="Add" class="btn btn-primary">Add Affirmation</a>
   </div>
</form>