@using System;
@model List<iWishApp.Models.Affirmations>
@using iWishApp.ViewModels;

@{
    ViewData["Title"] = "Positive Affirmations";
}
<div class="container">
    <h1 class="display-4 text-center">Positive Affirmations</h1>
    @if (Model.Count == 0)
    {
        <p>No affirmations yet!</p>
    }
    else
    {
        <ul class="list-group mt-4">
            @foreach (var affirmation in Model)
            {
                <li class="list-group-item">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="Add" name="Add" value="@affirmation.Id">
                        <label class="form-check-label" for="Add">
                            @affirmation.Text
                        </label>
                    </div>
                </li>
            }
        </ul>
    }
</div>
<div class="text-center mt-4">
    <a asp-controller="Affirmations" asp-action="Add" class="btn btn-primary">Add Affirmation</a>
    <p><a asp-controller="Affirmations" asp-action="Delete">Delete Selected Affirmations</a></p>
    <button type="submit" class="btn btn-danger" form="deleteForm">Delete Selected Affirmations</button>
</div>
<form> <a id="deleteForm" method="post" asp-controller="Affirmations" asp-action="Delete"> </a>
    @*<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />*@
</form>